[submodule "03-bases-node"]
	path = 03-bases-node
	url = https://github.com/LuisFarfan57/Node-de-cero-a-experto-2021/03-bases-node
[submodule "06-web-server"]
	path = 06-web-server
	url = https://github.com/LuisFarfan57/06-web-server
[submodule "05-geolocalizacion"]
	path = 05-geolocalizacion
	url = https://github.com/LuisFarfan57/05-geolocalizacion.git
[submodule "07-rest-server"]
	path = 07-rest-server
	url = https://github.com/LuisFarfan57/Node-de-cero-a-experto-2021/07-rest-server
[submodule "08-websocket-server"]
	path = 08-websocket-server
	url = https://github.com/LuisFarfan57/08-websocket-server.git
[submodule "curso-node-1-tabla"]
	path = curso-node-1-tabla
	url = https://github.com/LuisFarfan57/curso-node-1-tabla.git
[submodule "PlantillaExpressREST"]
	path = PlantillaExpressREST
	url = https://github.com/LuisFarfan57/PlantillaExpressREST.git
